	<p>I love Morty</p>
<table class="table table-striped table-bordered">	
	<tr>
		<th><%= pole.label(:login) %></th>
		<td><%= pole.text_field(:user, :class =>"form-control" ) %></td>
	</tr>

	<tr>
		<th><%= pole.label(:imię) %></th>
		<td><%= pole.text_field(:name, :class =>"form-control") %></td>
	</tr>
	<tr>
		<th><%= pole.label(:nazwisko) %></th>
		<td><%= pole.text_field(:surname, :class =>"form-control" ) %></td>
	</tr>

	<tr>
		<th><%= pole.label(:hasło) %></th>
		<td><%= pole.password_field(:password, :class =>"form-control" ) %></td>
	</tr>
		<tr>
		<th><%= pole.label(:potwierdz_hasło, "Potwierdź hasło") %></th>
		<td><%= pole.password_field(:password_confirmation, :class =>"form-control" ) %></td>
	</tr>
	<tr>
		<th><%= pole.label(:email) %></th>
		<td><%= pole.text_field(:email, :class =>"form-control" ) %></td>
	</tr>
	<tr>
		<th><%= pole.label(:created_at, "Utworzona") %></th>
		<td><%= pole.datetime_select(:created_at, :class =>"form-control") %></td>
	</tr>
</table>