<div class="hero-unit">
<h1>Edycja Użytkownika: <%= @user.name + " " + @user.surname %></h1>

<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |pole| %>

<%= render(:partial => "form", :locals => {:pole => pole}) %>

<div style="text-align: center;">
	<%= submit_tag("aktualizuj", :class => 'btn  btn-primary') %>
	<%= link_to("anuluj", {:action => 'index'}, :class => 'btn btn-warning')%>
	
</div>

<% end %>
</div>
