<table class="table table-striped table-bordered">	
	<tr>
		<th><%= pole.label(:pozycja) %></th>
		<td><%= pole.select(:position, 1..@counter, :class =>"form-control" ) %></td>
	</tr>
	<tr>
		<th><%= pole.label(:nazwa) %></th>
		<td><%= pole.text_field(:name, :class =>"form-control") %></td>
	</tr>
	<tr>
		<th><%= pole.label(:od, "Od kiedy?") %></th>
		<td><%= pole.text_field(:date1, :class =>"form-control datepicker") %></td>
	</tr>
	<tr>
		<th><%= pole.label(:do, "Do kiedy?") %></th>
		<td><%= pole.text_field(:date2, :class =>"form-control datepicker") %></td>
	</tr>
	<tr>
		<th><%= pole.label(:miejsce) %></th>
		<td><%= pole.text_field(:place, :class =>"form-control") %></td>
	</tr>
	<tr>
		<th><%= pole.label(:uwagi) %></th>
		<td><%= pole.text_field(:info, :class =>"form-control") %></td>
	</tr>

</table>