<div class="hero-unit">
<h1>Aktualności</h1>

<%= link_to("dodaj nowego kalendarz", {:action => 'new'}, {:class =>'btn btn-mini btn-primary'}) %>

<p style='text-align: right;'>Ilość kalendarzy: <%= @calendar.size %> </p>

<table class="table table-striped table-bordered"> 
	<tr class="info">

		<th>Pozycja</th>
		<th>Nazwa</th>
		<th>Od kiedy?</th>
		<th>Do kiedy?</th>
		<th>Lokalizacja</th>
		<th>Uwagi</th>
		<th>Akcje</th>
	</tr>
<% @calendar.each do |calendars| %>
	<tr>

		<td><%= calendars.position %></td>
		<td><%= calendars.name %></td>
		<td><%= calendars.date1 %></td>
        <td><%= calendars.date2 %></td>
        <td><%= calendars.place %></td>
        <td><%= calendars.info %></td>	

		<td class="action">   
			<%= link_to("pokaż", {:action => 'show', :id => calendars.id}, {:class => "btn btn-xs btn-warning"}) %>
			<%= link_to("edycja", {:action => 'edit', :id => calendars.id}, {:class => "btn btn-xs btn-warning"}) %>
			<%= link_to("usuń", {:action => 'delete', :id => calendars.id}, {:class => "btn btn-xs btn-danger"}) %>
		</td>
	</tr>

	<% end %>

</table>

</div>