
<div class="hero-unit">
<h1>Zdjęcia z galerii: <%= @gallery.name %></h1>

<div class="paddings">
  <%= link_to("dodaj nowe zdjęcie!", {:action => 'new', :gallery_id => @gallery.id}, {:class =>'btn btn-mini btn-primary'}) %>
</div>

<div class="paddings">
  <%= link_to("< Powrót do galerii", {:controller => 'galleries' , :action => 'index', :type_id => @gallery.type.id}, {:class =>'btn btn-xs btn-default'}) %>
</div>

<p style='text-align: right;'>Ilość Zdjęć: <%= @photos.size %> </p>

<table class="table table-striped table-bordered"> 
  <tr class="info">
    <th>pozycja</th>
    <th>nazwa</th>
    <th>zdjęcie</th>
    <th>akcja</th>
  </tr>
<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.position %></td>
    <td><%= photo.name %></td>
  	<td><%= image_tag photo.img.url(:medium) %></td>
    <td class="action"> 
      <%= link_to("pokaż", {:action => 'show', :id => photo.id, :gallery_id => @gallery.id}, {:class => "btn btn-xs btn-primary"}) %>
      <%= link_to("edycja", {:action => 'edit', :id => photo.id, :gallery_id => @gallery.id}, {:class => "btn btn-xs btn-warning"}) %>
      <%= link_to("usuń", {:action => 'delete', :id => photo.id, :gallery_id => @gallery.id}, {:class => "btn btn-xs btn-danger"}) %>
    </td>
  </tr>

  <% end %>

</table>