<table data-no-turbolink class="table table-striped table-bordered">	
	<tr>
		<th><%= pole.label(:pozycja) %></th>
		<td><%= pole.select(:position, 1..@counter, :class =>"form-control" ) %></td>
	</tr>
	<tr>
		<th><%= pole.label(:nazwa) %></th>
		<td><%= pole.text_field(:name, :class =>"form-control") %></td>
	</tr>
	
	<% if !@post.img.blank? %>
		<tr>
			<th>Zdjęcie</th> 
			<td><%= image_tag(@post.img, :class => "img-responsive") %></td>
		</tr>
	<% end %>
	<% if !@post.file.blank? %>
		<tr>
			<th>Plik</th>   
			<td><%= @post.file.size %> bytes</td>
		</tr>
	<% end %>
	<tr>
		<th><%= pole.label(:zdjecie, "Zdjęcie") %></th>  
		<td><%= pole.file_field(:img) %></td>
	</tr>
 
	<tr>
		<th><%= pole.label(:file, "Plik") %></th>  
		<td><%= pole.file_field(:file) %></td>
	</tr>
	<tr data-no-turbolink>
		<th><%= pole.label(:opis) %></th>
		<td><%= pole.text_area :text, rows: 20, :class =>"ckeditor" %></td>
	</tr>

</table>